html {
  font-family: "Open Sans", sans-serif;
}

p {
  font-weight: 300;
  color: #333;
}

h1 {
  font-weight: 300;
  color: #59bf8e;
}

hr {
  color: #59bf8e;
  margin-bottom: 0;
}

a, .btn, .btn-ghost {
  text-decoration: none;
  color: #333;
  border: 0;
  background-color: white;
  padding: 0;
}

a:hover, .btn:hover, .btn-ghost:hover {
  text-decoration: none;
  color: #59bf8e;
  border: 0;
  background-color: white;
}

.smile-right {
  text-align: right;
}

.footer, .push-foot {
  height: 3em;
}

fieldset {
  border: none;
}

#name, #lastname, #email, #text1 {
  width: 100%;
  font-weight: 300;
}

textarea {
  border-width: 1px;
  border-color: rgb(200,200,200);
}

.submit {
  border-radius: 0;
  border-bottom: 2px solid #59bf8e;
}

@media only screen and (min-width: 25em) {

  h1 {
    font-size: 1.8rem;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 38em) {

}

@media only screen and (min-width: 60em) {

}

@media only screen and (min-width: 80em) {

}
