html {
  font-family: "Open Sans", sans-serif;
}

.blue {
  color: #59bf8e;
}

p {
  font-weight: 300;
}

h1 {
  font-weight: 300;
}

.h1-color {
  color: #59bf8e;
  font-weight: 400;
}

h2, .h3 {
  font-weight: 300;
}

hr {
  color: #59bf8e;
  margin-bottom: 0;
}

.current {
  color: #59bf8e;
}

a, a p, .btn, .btn-ghost {
  text-decoration: none;
  color: #333;
  border: 0;
  background-color: none;
  padding: 0;
}

a:hover,
div a p:hover,
li a p:hover,
.btn:hover,
.btn-ghost:hover,
.btn:focus {
  text-decoration: none;
  color: #59bf8e;
  border: 0;
  background-color: none;
}

.smile-right {
  text-align: right;
}

.footer, .push-foot {
  height: 3em;
}

fieldset {
  border: none;
}

#name, #lastname, #email, #text1 {
  width: 100%;
  font-weight: 300;
}

textarea {
  border-width: 1px;
  border-color: rgb(200, 200, 200);
}

.submit, .submit:hover {
  border-radius: 0;
  border-bottom: 2px solid #59bf8e;
}

.container {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.container a {
  /* flex: flex-grow flex-shrink flex-basis; */
  flex: 0 1 25%;
  max-width: 50px;
}

.container a img {
  max-width: 100%;
}

.maxwidth-400 {
  max-width: 200px;
  width: 100%;
  min-width: 100px;
}

.bkgnd-img {
  background-image: url("{{base.url}}/img/geometry.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 75% auto;
}

body {
  background: url("../img/geometry.svg") 150% -15% / 60% auto no-repeat;
  background-attachment: fixed
}

.grey-fill {
  background-color: #f2f2f2;
}

.w-25 {
  width: 25%;
  padding: 25 auto;
}
