<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %} Sarah Louise Dowling</title>
  <meta name="description" content="{{page.meta}}">
  <meta name="viewport" content="width=device-width, initial-scale= 1">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <link href="css/site.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700" rel="stylesheet">
  <link href="img/favicon.ico" rel="shortcut icon">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{% if page.title %}{{page.title}} · {% endif %} Sarah Louise Dowling">
  <meta name="twitter:url" content="http://sarahdowling.github.io/sarahlouisedowling">
  <meta name="twitter:description" content="{{page.meta}}">
  <meta name="twitter:image" content="{{site.baseurl}}/img/twitter-card.jpg">

  <meta property="og:type" content="article">
  <meta property="og:title" content="{% if page.title %}{{page.title}} · {% endif %} Sarah Louise Dowling">
  <meta property="og:url" content="http://sarahdowling.github.io/sarahlouisedowling">
  <meta property="og:image" content="{{site.baseurl}}/img/social-card.jpg">
  <meta property="og:site_name" content="Sarah Louise Dowling">
  <meta property="og:description" content="{{page.meta}}">

</head>

<body class=".bkgnd-img">
  <main>
    <a href="#content">Jump to main content</a>
    <article>
      <div class="grid wrapper island-1-2">

        <div class="unit xs-1 gutter pad-t-2 pad-b-1-4 text-left">
          <a href="index.html" id="data-author" itemprop="author" itemscope itemtype="https://schema.org/Person"><img src="{{site.baseurl}}/img/sarahlouisedowling.svg" alt="Sarah Louise Dowling" class="push-2 maxwidth-400 imgflex"></a>
        </div>
        <div class="unit xs-1 gutter">
          <ol class="grid push-0">
            <li class="btn btn-ghost unit xs-1-3 m-1-4">
              <a href="{{site.baseurl}}/index.html">
                <p class="push-0 gutter-1-4 {% if page.url == '/' %}current{% endif %}">Work</p>
              </a>
            </li>
            <li class="btn btn-ghost unit xs-1-3 m-1-4">
              <a href="{{site.baseurl}}/about.html">
                <p class="push-0 gutter-1-4 {% if page.url == '/about.html' %}current{% endif %}">About</p>
              </a>
            </li>
            <li class="btn btn-ghost unit xs-1-3 m-1-2 text-right">
              <a href="{{site.baseurl}}/contact.html">
                <p class="push-0 gutter-1-4 {% if page.url == '/contact.html' %}current{% endif %}">Contact</p>
              </a>
            </li>
          </ol>
        </div>
        <div class="unit xs-1 push-1-2">
          <hr>
        </div>

<div role="main" id="main">
  {{content}}
</div>

        <div class="unit xs-1 island">
          <div class="container">
            <a href="https://www.behance.net/sarahdowling/">
              <img src="{{site.baseurl}}/img/behance-icon.svg" alt="Linked logo to Ibehance page">
            </a>
            <a href="http://instagram.com/sarah.dowling7/">
              <img src="{{site.baseurl}}/img/instagram-icon.svg" alt="Linked logo to Instagram page">
            </a>
            <a href="https://twitter.com/sarahldowling/">
              <img src="{{site.baseurl}}/img/twitter-icon.svg" alt="Linked logo to twitter page">
            </a>
            <a href="https://www.linkedin.com/in/sarahlouisedowling/">
              <img src="{{site.baseurl}}/img/linkedin-icon.svg" alt="Linked logo to linked in page">
            </a>
          </div>
        </div>

      </div>
    </article>
  </main>
<div class="">
</div>

  <footer>
    <div class="footer smile-right wrapper gutter">
    <p class="left micro">© Sarah Louise Dowling 2016</p>
    <a href="contact.html" class="right"><img src="img/smile.svg" alt="smile" style="width:20px;"></a>
    </div>
  </footer>

</body>

</html>
